<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.profalexandre.Code">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="code.Code.telas.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="code.Code.telas.Imo.AddImoActivity"
            android:label="AddImoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.Imo.ListImoActivity"
            android:label="AddImoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.Imo.ListImoParamActivity"
            android:label="AddImoParamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.Imo.UptImoActivity"
            android:label="UptImoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />

        <activity
            android:name="code.Code.telas.Inq.Inq.AddInqActivity"
            android:label="AddInqActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name="code.Code.telas.Inq.Inq.ListInqActivity"
            android:label="ListInqActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name="code.Code.telas.Inq.Inq.ListInqParamActivity"
            android:label="ListInqParamActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name="code.Code.telas.Inq.Inq.UptInqActivity"
            android:label="UptInqActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />

        <activity
            android:name="code.Code.telas.ImoInq.Imo.AddImoInqActivity"
            android:label="AddImoInqActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name="code.Code.telas.ImoInq.Imo.ListImoInqActivity"
            android:label="AddImoInqActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name="code.Code.telas.ImoInq.Imo.ListImoInqParamActivity"
            android:label="ListImoInqParamActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name="code.Code.telas.ImoInq.Imo.UptImoInqActivity"
            android:label="UptImoInqActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass" />

        <activity
            android:name="code.Code.telas.AddUsuActivity"
            android:label="@string/title_activity_add_usu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.ListUsuActivity"
            android:label="@string/title_activity_list_usu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.UptUsuActivity"
            android:label="@string/title_activity_upt_usu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="code.Code.telas.ListUsuParamActivity"
            android:label="@string/title_activity_list_usu_param"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>